html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

h2, p, .footer .footer__info span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.footer__nav-wrap {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h1 {
  font-family: "Bungee", sans-serif;
  font-weight: 700;
}

.footer .footer__info h2, .footer .footer__info p, .footer__nav-wrap, .portfolio h2:first-child, .portfolio__grid .portfolio__grid-cell h2 {
  font-size: 17.1px;
}

.footer, .footer__nav-wrap, .portfolio__grid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.footer, .hero, .portfolio, .skills, .mobile-nav ul {
  width: 100%;
  text-align: center;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  color: #373737;
  background-color: #424242;
}

a {
  text-decoration: none;
  color: #373737;
}

p {
  font-weight: 400;
}

/* SITE WRAP STYLES */
.site-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #f4f4f4;
}

/* HEADER STYLES */
header {
  min-height: 500px;
  text-align: center;
  background-color: #848484;
  padding: 15px 15px 100px 15px;
}
@media (min-width: 767px) {
  header {
    padding: 30px 30px 0 30px;
  }
}
@media (min-width: 1023px) {
  header {
    min-height: 450px;
  }
}
header h1 {
  display: block;
  float: left;
  margin-top: 5px;
  color: #373737;
  font-size: 26px;
  margin-bottom: 20px;
}
@media (min-width: 767px) {
  header h1 {
    float: none;
    font-size: 38.5px;
    margin-bottom: 10px;
    line-height: 1em;
  }
}

/* FOOTER STYLES */
.footer {
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 20px 15px 10px 15px;
  position: relative;
  background: #848484;
  min-height: 400px;
}
@media (min-width: 767px) {
  .footer {
    padding: 0 30px 0 30px;
  }
}
@media (min-width: 767px) {
  .footer h2 {
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 50px;
  }
}
@media (min-width: 767px) {
  .footer .footer__info {
    margin: 80px auto 0 auto;
    width: 75%;
  }
}
.footer .footer__info h2 {
  margin-bottom: 40px;
}
.footer .footer__info p {
  padding: 5px;
}
.footer hr {
  margin: 80px auto 0 auto;
  height: 2px;
  background: #f4f4f4;
  border: none;
  width: 100%;
}
@media (min-width: 767px) {
  .footer .footer__nav-wrap > a {
    display: none;
  }
}

.footer__nav-wrap {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: baseline;
  align-items: baseline;
  width: 100%;
  line-height: 2.5em;
}
@media (min-width: 767px) {
  .footer__nav-wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    bottom: 0;
  }
}
.footer__nav-wrap p {
  font-weight: 700;
  padding: 0;
}
.footer__nav-wrap a {
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  padding: 15px 0 15px 15px;
  color: #f4f4f4;
}
.footer__nav-wrap a:hover {
  color: #111111;
}

.footer-nav {
  display: none;
}
@media (min-width: 767px) {
  .footer-nav {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 767px) {
  .footer-nav ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 767px) {
  .footer-nav ul li {
    width: 100%;
    height: 40px;
    padding: 10px 0px 10px 10px;
    line-height: 1.5em;
    font-size: 17.1px;
  }
}
@media (min-width: 767px) {
  .footer-nav ul li a {
    width: 10%;
    color: #f4f4f4;
    padding: 10px 10px 10px 10px;
    margin: 0;
  }
}

/* TOP NAV STYLES */
@media (min-width: 1023px) {
  .header__nav-wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
}

.top-nav {
  display: none;
}
@media (min-width: 767px) {
  .top-nav {
    display: block;
  }
}
@media (min-width: 767px) {
  .top-nav ul {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    margin: 0 0 2.5em 0;
    list-style: none;
    text-align: center;
    padding: 0;
  }
}
@media (min-width: 767px) {
  .top-nav ul li {
    background-color: transparent;
    height: 40px;
    padding: 12px;
    margin: 0 0 5px 0;
    font-weight: 700;
    line-height: 1em;
    font-size: 15px;
  }
}
@media (min-width: 767px) {
  .top-nav ul li a {
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 10%;
    margin: 0 5px 0 5px;
    background-color: transparent;
    display: block;
    padding: 10px;
    color: #f4f4f4;
  }
}
@media (min-width: 767px) {
  .top-nav ul li a:hover {
    color: #111111;
  }
}

/* HERO STYLES */
.hero {
  margin-bottom: 50px;
}
@media (min-width: 767px) {
  .hero {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: 1300px) {
  .hero {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
}
.hero p {
  line-height: 1.5em;
}
@media (min-width: 767px) {
  .hero p {
    line-height: 1.35em;
    text-align: left;
    margin: 0;
    margin-right: 5px;
  }
}
@media (min-width: 1023px) {
  .hero p {
    width: 40%;
  }
}
@media (min-width: 1300px) {
  .hero p {
    margin: 0 auto;
    width: 30%;
    text-align: left;
  }
}
.hero img {
  -moz-box-shadow: #424242 0 0 10px;
  -webkit-box-shadow: #424242 0 0 10px;
  box-shadow: #424242 0 0 10px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}
@media (min-width: 767px) {
  .hero img {
    margin-top: 0;
    width: 42%;
  }
}
@media (min-width: 1023px) {
  .hero img {
    min-width: 45%;
  }
}

/* PORTFOLIO GRID STYLES */
.portfolio {
  min-height: 100vh;
  padding: 40px 15px 0 15px;
  margin-bottom: 0;
}
.portfolio h2:first-child {
  margin-bottom: 40px;
}

.portfolio__grid {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 767px) {
  .portfolio__grid {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
}
.portfolio__grid .portfolio__grid-cell {
  -moz-box-shadow: transparent 0 0 0;
  -webkit-box-shadow: transparent 0 0 0;
  box-shadow: transparent 0 0 0;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 767px) {
  .portfolio__grid .portfolio__grid-cell {
    width: 46%;
  }
}
@media (min-width: 1023px) {
  .portfolio__grid .portfolio__grid-cell {
    width: 30%;
  }
}
.portfolio__grid .portfolio__grid-cell:hover {
  -moz-box-shadow: #111111 0 0 15px;
  -webkit-box-shadow: #111111 0 0 15px;
  box-shadow: #111111 0 0 15px;
  background-color: #111111;
  cursor: pointer;
}
.portfolio__grid .portfolio__grid-cell:last-child {
  margin-bottom: 50px;
}
.portfolio__grid .portfolio__grid-cell img {
  width: 100%;
}
.portfolio__grid .portfolio__grid-cell h2 {
  margin-top: 10px;
}
@media (min-width: 767px) {
  .portfolio__grid .portfolio__grid-cell h2 {
    font-size: 17.2px;
  }
}
@media (min-width: 1023px) {
  .portfolio__grid .portfolio__grid-cell h2 {
    font-size: 17.3px;
  }
}
.portfolio__grid .portfolio__grid-cell p {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 15.05px;
  line-height: 1.2em;
}

/* SKILLS DIV MEDIA STYLES */
.skills {
  color: #f4f4f4;
  min-height: 400px;
  padding: 40px 15px 40px 15px;
  background: #111111;
  margin-top: 0;
}
@media (min-width: 767px) {
  .skills {
    padding: 40px 30px 40px 30px;
  }
}
.skills h2 {
  font-size: 16px;
  margin-bottom: 40px;
}
@media (min-width: 767px) {
  .skills h2 {
    margin-bottom: 80px;
  }
}
.skills ul {
  text-align: left;
  list-style: none;
  margin: 0;
}
@media (min-width: 767px) {
  .skills ul {
    text-align: center;
    padding: 0;
  }
}
.skills ul li {
  line-height: 2em;
}

/* MOBILE NAV STYLES */
.mobile-nav__button {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  line-height: 1.1em;
  cursor: pointer;
  padding: 20px;
  background: url("../img/navicon.svg");
}
@media (min-width: 767px) {
  .mobile-nav__button {
    display: none;
  }
}

.mobile-nav {
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 9999;
  width: 100%;
  height: 228px;
  position: absolute;
  top: -228px;
  background: #373737;
}
@media (min-width: 767px) {
  .mobile-nav {
    display: none;
  }
}
.mobile-nav ul {
  height: 100%;
  list-style: none;
}
.mobile-nav ul li {
  display: block;
  width: 100%;
}
.mobile-nav ul li:hover {
  background: #424242;
}
.mobile-nav ul li a {
  display: block;
  padding: 20px 0 20px 0;
  color: #f4f4f4;
}
.mobile-nav ul li:not(:first-child),
.mobile-nav ul li:not(:last-child) {
  border-bottom: 1px solid #111111;
}

.mobile-nav.active {
  top: 75px;
}
