/**********************
RESET
***********************/
html {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body {
    color: #373737;
    background-color: #424242;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
    color: #373737;
}
/**********************
SITE WRAPPER
***********************/
.sitewrapper {
    width: 100%;
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: #f4f4f4;
}
/**********************
HEADER
***********************/
#home {
    min-height: 500px;
    text-align: center;
    background-color: #848484;
    padding: 15px 15px 100px 15px;
}
#home h1 {
    margin-top: 0;
    font-weight: 700;
    color: #373737;
    font-size: 3em;
    font-family: 'Bungee', sans-serif;
}
#topnav {
    text-align: center;
}
#topnav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
#topnav ul li {
    width: 100%;
    height: 40px;
    padding: 12px;
    margin: 0 0 5px 0;
    background: #373737;
    font-weight: 700;
    line-height: 1em;
    font-size: 0.9em;
}
#topnav ul li a {
    padding: 10px 50px;
    text-decoration: none;
    color: #f4f4f4;
}
/**********************
HERO
***********************/
.hero {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.hero p {
    line-height: 1.5em;
}
.hero img {
    width: 60%;
    margin-top: 25px;
    box-shadow: -2px 2px 5px #373737;
}
/**********************
PORTFOLIO && GRID
***********************/
#portfolio {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding: 40px 15px 0 15px;
    margin-bottom: 0;
}
#portfolio h2 {
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 40px;
}
.grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cell {
    width: 100%;
    margin-bottom: 20px;
}
.cell:hover {
    background-color: #212121;
    cursor: crosshair;
}
.cell:last-child {
    margin-bottom: 50px;
}
.cell img {
    width: 100%;
}
.cell h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
}
.cell p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.95em;
}
/**********************
SKILLS
***********************/
#skills {
    color: #f4f4f4;
    width: 100%;
    min-height: 400px;
    text-align: center;
    padding: 40px 15px 40px 15px;
    background: #212121;
    margin-top: 0;
}
#skills h2 {
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 40px;
}
#skills ul {
    text-align: left;
    list-style: none;
    margin: 0;
}
/**********************
FOOTER
***********************/
footer {
    text-align: center;
    padding: 20px 15px 10px 15px;
    position: relative;
    background: #848484;
    min-height: 400px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
footer h2 {
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 40px;
}
footer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}
footer span {
    font-weight: 700;
}
.footerclose {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 0.75em;
    line-height: 2.5em;
}
.footerclose p {
    padding: 0;
}
.footerclose a {
    padding: 15px;
    text-decoration: none;
    color: #f4f4f4;
    transition: all 300ms ease-out;
}
.footerclose a:hover {
    border-bottom: 2px solid #1a1f2b;
}
.footerclose a p {
    color: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: -0.7px;
}
/**********************
MEDIA QUERIES
***********************/
/**********************
MAX 767
***********************/
@media (max-width: 766px) {
    #footernav {
        display: none;
    }
}
/**********************
MIN 768
***********************/
@media (min-width: 767px) {
    /**********************
    HEADER
    ***********************/
    #home {
        text-align: center;
        padding: 30px 30px 0 30px;
    }
    #home h1 {
        margin-top: 0;
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 1em;
    }
    #topnav ul {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 2.5em;
    }
    #topnav ul li {
        background-color: transparent;
    }
    #topnav ul li a {
        transition: all 300ms ease-out;
        width: 10%;
        margin: 0 5px 0 5px;
        padding: 10px;
        background-color: transparent;
    }
    #topnav ul li a:hover {
        border-bottom: 2px solid #1a1f2b;
    }
    /**********************
    HERO
    ***********************/
    .hero {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    .hero p {
        line-height: 1.35em;
        text-align: left;
        margin: 0;
        margin-right: 5px;
    }
    .hero img {
        margin-top: 0;
        width: 42%;
    }
    /**********************
    PORTFOLIO && GRID
    ***********************/
    #portfolio h2 {
        font-weight: 700;
        font-size: 1em;
        margin-bottom: 40px;
    }
    .grid {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .cell {
        width: 46%;
    }
    .cell img {
        width: 100%;
    }
    .cell h2 {
        font-size: 1.1em;
    }
    .cell p {
        font-size: 0.95em;
    }
    /**********************
    SKILLS
    ***********************/
    #skills {
        text-align: center;
        padding: 40px 30px 40px 30px;
        margin-top: 0;
    }
    #skills h2 {
        font-weight: 700;
        font-size: 1em;
        margin-bottom: 80px;
    }
    #skills ul {
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #skills ul li {
        line-height: 2em;
    }
    /**********************
    FOOTER
    ***********************/
    footer {
        text-align: center;
        padding: 0 30px 0 30px;
    }
    footer h2 {
        font-weight: 700;
        font-size: 1em;
        margin-bottom: 40px;
        margin-top: 50px;
    }
    footer p {
        font-family: 'Open Sans', sans-serif;
    }
    footer span {
        font-weight: 700;
    }
    .contactinfo {
        margin: 80px auto 0 auto;
        width: 75%;
    }
    .footerclose {
        bottom: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    #contact .footerclose p {
        padding: 0;
    }
    .footerclose p:last-child {
        display: none;
    }
    #footernav ul {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: nowrap;
        list-style: none;
    }
    #footernav ul li {
        width: 100%;
        height: 40px;
        padding: 10px 0px 10px 10px;
        line-height: 1.5em;
        font-size: 1.1em;
    }
    #footernav ul li a {
        width: 10%;
        color: #f4f4f4;
        padding: 10px 10px 10px 10px;
        margin: 0;
    }
}
/**********************
MIN 1024
***********************/
@media (min-width: 1023px) {
    /**********************
    HEADER
    ***********************/
    .navwrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    header {
        min-height: 450px;
    }
    /**********************
    HERO
    ***********************/
    .hero {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    .hero p {
        width: 40%;
    }
    .hero img {
        min-width: 45%;
    }
    /**********************
    PORTFOLIO && GRID
    ***********************/
    #portfolio h2 {
        font-weight: 700;
        font-size: 1em;
        margin-bottom: 40px;
    }
    .grid {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .cell {
        width: 30%;
    }
    .cell img {
        width: 100%;
    }
    .cell h2 {
        font-size: 1.1em;
    }
    .cell p {
        font-size: 0.95em;
    }
    /**********************
    SKILLS
    ***********************/
    #skills h2 {
        font-weight: 700;
        font-size: 1em;
        margin-bottom: 80px;
    }
    #skills ul {
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #skills ul li {
        line-height: 2em;
    }
    /**********************
    FOOTER
    ***********************/
    .footerclose {
        bottom: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    #footernav ul {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: nowrap;
        list-style: none;
    }
    #footernav ul li {
        width: 100%;
        height: 40px;
        padding: 10px 0px 10px 10px;
        line-height: 1.5em;
        font-size: 1.1em;
    }
}
/**********************
MIN 1300
***********************/
@media (min-width: 1300px) {
    .hero {
        display: flex;
        align-items: center;
    }
    .hero p {
        margin: 0 auto;
        width: 30%;
        text-align: left;
    }
}