





/**********************
MEDIA QUERIES
***********************/
/**********************
MAX 767
***********************/
@media (max-width: 766px) {
    #footernav {
        display: none;
    }
}
/**********************
MIN 768
***********************/
@media (min-width: 767px) {
    /**********************
    HEADER
    ***********************/
    #home {
        text-align: center;
        padding: 30px 30px 0 30px;
    }
    #home h1 {
        margin-top: 0;
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 1em;
    }
    #topnav ul {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 2.5em;
    }
    #topnav ul li {
        background-color: transparent;
    }
    #topnav ul li a {
        transition: all 300ms ease-out;
        width: 10%;
        margin: 0 5px 0 5px;
        padding: 10px;
        background-color: transparent;
    }
    #topnav ul li a:hover {
        border-bottom: 2px solid #1a1f2b;
    }
    /**********************
    HERO
    ***********************/
    .hero {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    .hero p {
        line-height: 1.35em;
        text-align: left;
        margin: 0;
        margin-right: 5px;
    }
    .hero img {
        margin-top: 0;
        width: 42%;
    }
    /**********************
    PORTFOLIO && GRID
    ***********************/
    #portfolio h2 {
        font-weight: 700;
        font-size: 1em;
        margin-bottom: 40px;
    }
    .grid {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .cell {
        width: 46%;
    }
    .cell img {
        width: 100%;
    }
    .cell h2 {
        font-size: 1.1em;
    }
    .cell p {
        font-size: 0.95em;
    }
    /**********************
    SKILLS
    ***********************/
    #skills {
        text-align: center;
        padding: 40px 30px 40px 30px;
        margin-top: 0;
    }
    #skills h2 {
        font-weight: 700;
        font-size: 1em;
        margin-bottom: 80px;
    }
    #skills ul {
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #skills ul li {
        line-height: 2em;
    }
    /**********************
    FOOTER
    ***********************/
    footer {
        text-align: center;
        padding: 0 30px 0 30px;
    }
    footer h2 {
        font-weight: 700;
        font-size: 1em;
        margin-bottom: 40px;
        margin-top: 50px;
    }
    footer p {
        font-family: 'Open Sans', sans-serif;
    }
    footer span {
        font-weight: 700;
    }
    .contactinfo {
        margin: 80px auto 0 auto;
        width: 75%;
    }
    .footerclose {
        bottom: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    #contact .footerclose p {
        padding: 0;
    }
    .footerclose p:last-child {
        display: none;
    }
    #footernav ul {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: nowrap;
        list-style: none;
    }
    #footernav ul li {
        width: 100%;
        height: 40px;
        padding: 10px 0px 10px 10px;
        line-height: 1.5em;
        font-size: 1.1em;
    }
    #footernav ul li a {
        width: 10%;
        color: #f4f4f4;
        padding: 10px 10px 10px 10px;
        margin: 0;
    }
}
/**********************
MIN 1024
***********************/
@media (min-width: 1023px) {
    /**********************
    HEADER
    ***********************/
    .navwrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    header {
        min-height: 450px;
    }
    /**********************
    HERO
    ***********************/
    .hero {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    .hero p {
        width: 40%;
    }
    .hero img {
        min-width: 45%;
    }
    /**********************
    PORTFOLIO && GRID
    ***********************/
    #portfolio h2 {
        font-weight: 700;
        font-size: 1em;
        margin-bottom: 40px;
    }
    .grid {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .cell {
        width: 30%;
    }
    .cell img {
        width: 100%;
    }
    .cell h2 {
        font-size: 1.1em;
    }
    .cell p {
        font-size: 0.95em;
    }
    /**********************
    SKILLS
    ***********************/
    #skills h2 {
        font-weight: 700;
        font-size: 1em;
        margin-bottom: 80px;
    }
    #skills ul {
        text-align: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #skills ul li {
        line-height: 2em;
    }
    /**********************
    FOOTER
    ***********************/
    .footerclose {
        bottom: 0;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    #footernav ul {
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: nowrap;
        list-style: none;
    }
    #footernav ul li {
        width: 100%;
        height: 40px;
        padding: 10px 0px 10px 10px;
        line-height: 1.5em;
        font-size: 1.1em;
    }
}
/**********************
MIN 1300
***********************/
@media (min-width: 1300px) {
    .hero {
        display: flex;
        align-items: center;
    }
    .hero p {
        margin: 0 auto;
        width: 30%;
        text-align: left;
    }
}