/* SITE WRAP STYLES */
.site-wrap {
  @include display-flex();
  @include flex-direction(column);
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: $poppins-stack;
  color: $color-white;
}
