// colours
$color-dark-gray : #373737;
$color-mid-gray : #424242;
$color-light-gray: #848484;
$color-white : #f4f4f4;

// fonts
$base-font-size: 16px;

// font stacks
$poppins-stack : 'Poppins', sans-serif;
$bungee-stack : 'Bungee', sans-serif;