// colours
$color-transparent : transparent;
$color-white : #f4f4f4; // text
$color-black : #111111; // bgs and text
$color-dark-gray : #373737; // text
$color-mid-gray : #424242; // bgs
$color-light-gray : #848484; // bgs
$color-red : #c0392b; // hover text

// font size
$base-font-size : 16px;

// font stacks
$poppins-stack : 'Poppins', sans-serif; // most header text
$bungee-stack : 'Bungee', sans-serif; // main title 'vader'
$opensans-stack : 'Open Sans', sans-serif; // for most p text

// media breaks
// tablet
$break-767 : '(min-width: 767px)'; // first break, removes mobile nav
// laptop
$break-1023 : '(min-width: 1023px)'; // second break, makes things larger
// large screen
$break-1300 : '(min-width: 1300px)'; // third break, shifts around text
