/* MOBILE NAV STYLES */
.mobile-nav__button {
  @include tablet {
    display: none;
  }
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  line-height: 1.1em;
  cursor: pointer;
  padding: 20px;
  background: url('../img/navicon.svg');
}
.mobile-nav {
  @include single-transition(all, 300ms, ease-in-out);
  @include tablet {
    display: none;
  }
  z-index: 9999;
  width: 100%;
  height: 228px;
  position: absolute;
  top: -228px;
  background: $color-dark-gray;
  ul {
    @extend %width100-centertext;
    height: 100%;
    list-style: none;
  }
  ul li {
    display: block;
    width: 100%;
    &:hover {
      background: $color-mid-gray;
    }
    a {
      display: block;
      padding: 20px 0 20px 0;
      color: $color-white;
    }
  }
  ul li:not(:first-child),
  ul li:not(:last-child) {
    border-bottom: 1px solid darken($color-dark-gray, 15%);
  }
}
.mobile-nav.active {
  top: 75px;
}
