/* PORTFOLIO GRID STYLES */
.portfolio {
  @extend %width100-centertext;
  min-height: 100vh;
  padding: 40px 15px 0 15px;
  margin-bottom: 0;
  h2:first-child {
    @extend %font-size-1;
    margin-bottom: 40px;
  }
}
.portfolio__grid {
  @extend %flex-nowrap;
  @include justify-content(center);
  @include flex-direction(column);
  @include tablet {
    @include display-flex();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-around);
  }
  .portfolio__grid-cell {
    @include box-shadow($color-transparent 0 0 0);
    @include single-transition(all, 300ms, ease);
    @include tablet {
      width: 46%;
    }
    @include desktop {
      width: 30%;
    }
    width: 100%;
    margin-bottom: 20px;
    &:hover {
      @include box-shadow($color-black 0 0 15px);
      background-color: $color-black;
      cursor: pointer;
    }
    &:last-child {
      margin-bottom: 50px;
    }
    img {
      width: 100%;
    }
    h2 {
      @extend %font-size-1;
      @include tablet {
        font-size: $base-font-size + 1.2;
      }
      @include desktop {
        font-size: $base-font-size + 1.3;
      }
      margin-top: 10px;
    }
    p {
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: $base-font-size - 0.95;
      line-height: 1.2em;
    }
  }
}
