#portfolio {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding: 40px 15px 0 15px;
  margin-bottom: 0;
  h2:first-child {
    font-weight: 700;
    font-size: $base-font-size;
    margin-bottom: 40px;
  }
}
.portfolio__grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.portfolio__grid-cell {
  width: 100%;
  margin-bottom: 20px;
  &:hover {
    background-color: #212121;
    cursor: pointer;
  }
  &:last-child {
    margin-bottom: 50px;
  }
}

.portfolio__grid-cell img {
  width: 100%;
}
.portfolio__grid-cell h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: $base-font-size + 1;
}
.portfolio__grid-cell p {
  margin-top: -10px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.95em;
}
@media (min-width: 767px) {
  #portfolio h2 {
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 40px;
  }
  .portfolio__grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .portfolio__grid-cell {
    width: 46%;
  }
  .portfolio__grid-cell img {
    width: 100%;
  }
  .portfolio__grid-cell h2 {
    font-size: 1.1em;
  }
  .portfolio__grid-cell p {
    font-size: 0.95em;
  }
}
@media (min-width: 1023px) {
  #portfolio h2 {
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 40px;
  }
  .portfolio__grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .portfolio__grid-cell {
    width: 30%;
  }
  .portfolio__grid-cell img {
    width: 100%;
  }
  .portfolio__grid-cell h2 {
    font-size: 1.1em;
  }
  .portfolio__grid-cell p {
    font-size: 0.95em;
  }
}