/* TOP NAV STYLES */
.header__nav-wrap {
  @include desktop {
    @include display-flex();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    @include align-items(flex-start);
  }
}
.top-nav {
  @include tablet {
    display: block;
  }
  display: none;
  ul {
    @include tablet {
      @include display-flex();
      @include justify-content(center);
      @include flex-wrap(nowrap);
      @include align-items(center);
      width: 100%;
      margin: 0 0 2.5em 0;
      list-style: none;
      text-align: center;
      padding: 0;
    }
  }

  ul li {
    @include tablet {
      background-color: $color-transparent;
      height: 40px;
      padding: 12px;
      margin: 0 0 5px 0;
      font-weight: 700;
      line-height: 1em;
      font-size: $base-font-size - 1;
    }
  }
  ul li a {
    @include tablet {
      @include single-transition(all, 300ms, ease);
      width: 10%;
      margin: 0 5px 0 5px;
      background-color: $color-transparent;
      display: block;
      padding: 10px;
      color: $color-white;
    }
  }
  ul li a:hover {
    @include tablet {
      color: $color-black;
    }
  }
}
