#top-nav {
  text-align: center;
}
#top-nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
#top-nav ul li {
  width: 100%;
  height: 40px;
  padding: 12px;
  margin: 0 0 5px 0;
  background: #373737;
  font-weight: 700;
  line-height: 1em;
  font-size: 0.9em;
}
#top-nav ul li a {
  padding: 10px 50px;
  text-decoration: none;
  color: #f4f4f4;
}
@media (min-width: 767px) {
  #top-nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 2.5em;
  }
  #top-nav ul li {
    background-color: transparent;
  }
  #top-nav ul li a {
    transition: all 300ms ease-out;
    width: 10%;
    margin: 0 5px 0 5px;
    padding: 10px;
    background-color: transparent;
  }
  #top-nav ul li a:hover {
    border-bottom: 2px solid #1a1f2b;
  }
}
@media (min-width: 1023px) {
  .header__nav-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}