/* TOP NAV STYLES */
#top-nav {
  display: none;
}
/* TOP NAV MEDIA BREAK STYLES */
@media #{$break-767} {
  #top-nav {
    display: block;
    ul {
      @include display-flex();
      @include justify-content(center);
      @include flex-wrap(nowrap);
      @include align-items(center);
      width: 100%;
      margin: 0 0 2.5em 0;
      list-style: none;
      text-align: center;
      padding: 0;
    }
    ul li {
      background-color: $color-transparent;
      height: 40px;
      padding: 12px;
      margin: 0 0 5px 0;
      font-weight: 700;
      line-height: 1em;
      font-size: $base-font-size - 1;
    }
    ul li a {
      @include single-transition(all, 300ms, ease);
      width: 10%;
      margin: 0 5px 0 5px;
      background-color: $color-transparent;
      display: block;
      padding: 10px;
      color: $color-white;
    }
    ul li a:hover {
      color: $color-black;
    }
  }
}
@media #{$break-1023} {
  .header__nav-wrap {
    @include display-flex();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    @include align-items(flex-start);
  }
}
